@import '../styles/colors.module.scss';

.lobbyContainer {
  text-align: center;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a; /* Dark background color */

  h1 {
    margin-bottom: 20px;
    // color: #ffffff; /* White text color */
  }

  p {
    font-size: 25px;
    color: #7fa9b3; /* Light gray text color */
  }
}
